# Ignore node_modules for both ui and server
ui/node_modules/
server/node_modules/

# Ignore environment files
ui/.env
server/.env

# Ignore build files
ui/build/
ui/dist/
server/build/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/
*.swp

# Ignore .next directory if using Next.js for SSR in ui
ui/.next/
